<template>
  <div>
    <b-button
      variant="success"
      style="float:right;"
      @click="addNewUser"
      v-b-modal.modal-add-new-user
      >AddNew</b-button
    >
    <b-modal
      id="modal-add-new-user"
      ref="modal-add-new-user"
      title="เพิ่มผู้ใช้ใหม่"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="Name" label-for="name">
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group label="Gender:" label-for="gender">
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template #cell(operation)="data">
        <b-button @click="editUser(data)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        id: -1,
        name: '',
        gender: null
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      userList: [
        { id: 1, name: 'Ploy', gender: 'FM' },
        { id: 2, name: 'Bright', gender: 'M' }
      ],
      lastId: 3,
      fields: ['id', 'name', 'gender', 'operation']
    }
  },
  methods: {
    editUser (user) {
      console.log('Edit')
      console.log(user)
    },
    delUser (user) {
      console.log('Delete')
      console.log(user)
    },
    addNewUser () {
      console.log('add new user')
    },
    resetModal () {},
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check

      // Do when
      this.addUser(this.form)
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-add-new-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    }
  }
}
</script>
